<div class="card">
    <div class="info-people">
        <img class="img-person" src="eu.png" alt="">
        <div class="info">
            <p class="name">João</p>
            <p>Programação</p>
            <p>19 anos</p>
        </div>
    </div>
    <p class="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, asperiores porro alias accusantium ad vel adipisci veniam perspiciatis. Voluptatem vitae ipsa placeat molestias consectetur nulla velit cum, dicta iusto explicabo.</p>
    <button>Mais informações</button>
</div>