<section class="section-login">
    <img src="Voltar.png" class="back" alt="">
    <div class="container-login">
        <div class="logo-text">
            <img src="LOGO.svg" alt="">
            <h2>Bem vindo</h2>
        </div>
        <form action="" class="box-login">
            <input type="email" class="box" placeholder="Email">
            <input type="password" class="box" placeholder="Senha">
            <label>Esqueci minha senha</label>
            <input type="button" class="box" value="Login">
        </form>
    </div>
</section>